<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>

    <h1>This is home page</h1>

    <h3><%= 1+2 %></h3>

    

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eos ipsa perspiciatis maiores dolore similique, voluptatem minima ad quos aliquid laborum sint eum dignissimos iste fugit illum. Nisi, facere laudantium!
    Perferendis labore veniam, officiis quia sed eligendi soluta nam. Repellendus, rerum. Animi placeat consequatur provident voluptatibus. Rerum, minus amet eius illo voluptates, cupiditate optio aliquid accusamus pariatur cumque, debitis autem?
    Ullam, architecto numquam molestias temporibus adipisci ipsam, atque cupiditate quam laudantium repellendus recusandae magnam ipsum, vel natus et illum? Laboriosam illo nulla eum harum soluta. Officiis facilis error doloremque unde!
    Corrupti veritatis natus saepe modi soluta qui dolore consectetur vel. In blanditiis exercitationem amet hic nam esse reprehenderit vero alias eaque eligendi facilis, iusto quia, quos optio delectus a reiciendis?
    Facilis, vero magni voluptas deleniti laboriosam enim necessitatibus aut ut nostrum, accusantium illum ducimus laborum repellat quibusdam. Quis tempora deleniti rerum! Maiores doloribus obcaecati aliquid consequatur id eaque alias qui.</p>
    
    <button>Click me!</button>

</body>
</html>