<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h2>Edit your post</h2>
    <p>post id :<%= post.id %></p>
    <p>post username : @<%= post.username %></p>

    <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
        <textarea id="" cols="30" rows="10" name="content"><%= post.content %></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>