.container {
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;
}

.item {
    /* width: 100px; */
    /* height: 50px; */
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}



/* Grid Model */


/* Grid Template */

.container {
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
}



/* Grid template (Repeat) */

.container {
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}



/* Grid Gaps (row-gap , column-gap , grid-gap) */

.container {
    row-gap: 10px;
    column-gap: 10px;
    grid-gap: 10px;
}



/* Grid Columns */

.one {
    grid-column-start: 1;
    grid-column-end: 4;
}


/* short hand grid column */

.one {
    grid-column: 1 / 4;
}

/* same using span */

.one {
    grid-column: 1 / span 3;
}



/* Grid Rows */

.two {
    grid-row-start: 1;

    grid-row-end: 3;
}


/* short hand grid row */

.two {
    grid-row: 1/3;
}

/* same using span */

.two {
    grid-row: 1 / span 2;
}