/* Ans 1) => */

.outer {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
}

.outer div {
    background-color: pink;
    font-size: 1.5rem;
}

.header {
    grid-column: 1/span 12;
}

.sidebar {
    grid-column: 1 / span 3;
    grid-row: 2 / span 10;
}

.footer {
    grid-column: 1 / span 12;
}

.navigation {
    grid-column: 4 / span 6;
}

.ads {
    grid-column: 10 / span 12;
    grid-row: 2 / span 10;
}

.main {
    grid-column: 4 / span 6;
    grid-row: 3 / span 9;
}



/* Ans 2) => */

@media (max-width: 720px) {
    .header {
        grid-column: 1 / span 5;
    }
}



/* Ans 3) => */

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}