section {
    margin-top: 100px;
}

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
}

div:nth-of-type(2n) {
    background-color: #f7db6a;
}

div:nth-of-type(3n) {
    background-color: #ebb02d;
}



/* (i) Rotate */

#one {
    transform: rotate(45deg);
}



/* (ii) Scale  */

#two {
    transform: scale(0.5);
}



/* (iii) Translate */

#three {
    transform: translate(100px,200px);
}



/* (iv) Skew */

#four {
    transform: skew(-45deg);
}

#five {
    transform: rotate(30deg) translateX(150px);
}