h2 {
    display: inline;
    background-color: greenyellow;
}

span {
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}



/* inline block */

div {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}