div {
    width: 400px;
    height: 200px;
    background-color: green;
    margin: 10px auto;
    background-image: url("./img.jpg");
    /* background-size: auto; */
    /* background-size: contain; */
    background-size: cover;
}