body{
    background-color: wheat;
    font-family: Georgia;
}

p{
    color: #a52a2a;
    line-height: 30px;
}

h1,h3,h4,p{
    text-align: center;
}

a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}

button{
    background-color: white;
    color: blueviolet;
}

