/* universal selector */

*{
    font-family: 'Courier New', Courier, monospace;
}



/* element selector */

h3{
    color: purple;
}

h1 , h3{
    color: #b92b27;
}



/* id selector */

#login{
    background-color: white;
}

#signup{
    background-color: #b92b27;
    color: white;
}



/* class selector */

.upvote{
    background-color: greenyellow;
}